.map{
    width: 40%;
    height: 300px;
    border: 1px solid blue;
}

.map > #dis1{
    width: 40%;
    height: 400px;
     
}
.daily-card{
    width: 70%;
    margin: auto;
    height: 72vh;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
}
.daily-handle{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    max-width: max-content;
    max-height: max-content;
}
.img-data img{
    width: 100px;
    height: 100px;
}
.mid-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-card{
    border: 1px solid red;
}