.map{
    width: 40%;
    height: 300px;
    border: 1px solid blue;
}

.map > #dis1{
    width: 40%;
    height: 400px;
     
}
.daily-card{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
}
.daily-handle{
    
}